$border-top:#CECECE;
$adresse:#EAEAEA;
$background:#F6F6F6;

$color-primaire:#9356DC;
$color-secondaire:#FF79DA;
$color-tertiaire:#99E2D0;

$footer-black:#353535;


$font-size:0.9em;
$font-size__h1:1.1em;
$font-size__h2:0.9em;
$font-size__h3:1.4em;
$font-size__p:0.8em;