/*--Le logo--*/

.logo{
    display: block;
    width: 100%;
    @include mixin-flex-center;
}

.logo__img{
    width: 50%;
    display: flex;
  justify-content: center;
}

/*--le header--*/

#adresse{
    @include mixin-flex-center;
    background-color:$adresse;
    border-top:$border-top 3px solid;
    padding: 15px 0 15px 0;
    margin-top: 15px;
}

.fa-map-marker-alt{
    padding-right: 20px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: $background;
    text-align: center;
}

.header__titre{
    margin: 20px 20% 10px 20%;
}

.header__p{
    margin: 0 10% 20px 10%;
}

/*--section fonctionnement--*/

.titre-h1{
    @include mixin-position-h1;
}

ol{
    display: flex;
    flex-direction: column;
   align-items: center;
    padding-left: 0;
}
.liste-explications{
     @include mixin-liste-explications;
     position: relative;
 }

.liste-explications__numero{
    @include  mixin-liste-explications__numero;
 }
/*--section fonctionnement hover--*/
.liste-explications:hover{
    background-color: $color-primaire;
    opacity: 0.1;
.puces:hover{
    color: $color-primaire;
   isolation: isolate;
}

}

/*--main--*/

.titre-restaurants{
    display: flex;
    background-color: $background;
    align-items: start;
    margin: 0;
   padding: 30px 0 20px 15px;
}

.main-accueil{
    background-color: $background;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.container-main{
    @include mixin-main;
    position: relative;
}

.container-main__img{
    @include mixin-main__img;
}

.container-main__h2{
    @include mixin-main__h2;
}
.container-main__p{
    @include mixin-main__p;
}
.container-main__nouveau{
    @include mixin-main-nouveau;
}

/*--footer--*/
.container-footer{
@include mixin-footer;
}
 

