/*--Le logo--*/

.logo{
    display: block;
    width: 100%;
    @include mixin-flex-center;
}

.logo__img{
    width: 50%;
    display: flex;
  justify-content: center;
  margin-top: 15px
}

/*--le header--*/

#adresse{
    @include mixin-flex-center;
    background-color:$adresse;
    border-top:$border-top 3px solid;
    padding: 15px 0 15px 0;
    margin-top: 15px;
}

.fa-map-marker-alt{
    padding-right: 20px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: $background;
    text-align: center;
}

.header__titre{
    margin: 20px 20% 10px 20%;
}

.header__p{
    margin: 0 10% 20px 10%;
}

/*--section fonctionnement--*/

.titre-h1{
    @include mixin-position-h1;
}

ol{
    display: flex;
    flex-direction: column;
   align-items: center;
    padding-left: 0;
}
.liste-fonctionnement{
     @include mixin-liste-fonctionnement;
     position: relative;
 }

.liste-fonctionnement__numero{
    @include  mixin-liste-fonctionnement__numero;
 }

/*--section fonctionnement hover--*/

.liste-fonctionnement:hover{
    background-color: #F5EDFF;
    .puces{
        color: $color-primaire;
    }
}

/*--main--*/

.titre-restaurants{
    display: flex;
    background-color: $background;
    align-items: start;
    margin: 0;
   padding: 30px 0 20px 15px;
}

.main-accueil{
    background-color: $background;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.container-main{
    @include mixin-main;
    position: relative;
}

.container-main__img{
    @include mixin-main__img;
}

.container-main__h2{
    @include mixin-main__h2;
}
.container-main__p{
    @include mixin-main__p;
}
.container-main__nouveau{
    @include mixin-main-nouveau;
}

/*--main-coeur--*/

.container-coeur{
    font-size: 1.3em;
}

.coeur-vide{
    @include  mixin-main-coeur;
   transform: scale(1);  
}

.coeur-plein{
    @include  mixin-main-coeur; 
    transform: scale(0);
    background: linear-gradient(to bottom right,lighten($color-secondaire,5),lighten($color-primaire,5));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.container-coeur:hover{

    .coeur-vide{
    animation: coeur-vide 1s linear;
     }

    .coeur-plein{
    animation: coeur-plein 1s linear;
    animation-fill-mode: forwards;
     }
}
/*--footer--*/
.container-footer{
@include mixin-footer;
}
 

/*--media queries--*/

@media all and (min-width:768px)  {
    
.titre-h1{
    justify-content: center;
    padding-bottom: 20px;
}

.liste-fonctionnement{
    justify-content: center;
 }

 .liste-fonctionnement__numero{ 
    position:relative;
}

.main-accueil{
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-main{
    width: 45%;
}

.footer-logo__p{
   display: flex;
   justify-content: center;
}

.footer-li{
    display: flex;
   justify-content: space-around;
}
}