/*--le header--*/

.header-restaurants{
    display: flex;
    position: relative;
}

.fleche{
font-size: 1.6em;
margin: 5% 0 0 5%;
position: absolute;
}

.logo-restaurants__img{
    width: 50%;
    margin-left: 25%;
    margin-bottom: 15px;
    margin-top: 15px;
}

/*--l'image de fond--*/

.img-fond{
    @include mixin-img-fond;
    position: absolute;
}


/*--main-restaurants--*/

.main-restaurants{
    border-radius: 30px 30px 0 0;
    position: relative;
    margin-top: 200px;
    background-color: $background;
    padding-bottom: 30px;
}

h3{
    display: flex;
    justify-content: flex-start;
    padding: 20px 0 20px 20px;
    margin: 0;
}

/*--le coeur--*/

.h3-coeur{
    position: relative;
}

.container-coeur{
    font-size: 1.4em;
}

.coeur-vide{
    @include  mixin-main-coeur;
   transform: scale(1);  
   right: 35px;
}

.coeur-plein{
    @include  mixin-main-coeur; 
    transform: scale(0);
    background: linear-gradient(to bottom right,lighten($color-secondaire,5),lighten($color-primaire,5));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    right: 35px;
}

.container-coeur:hover{

    .coeur-vide{
    animation: coeur-vide 1s linear;
     }

    .coeur-plein{
    animation: coeur-plein 1s linear;
    animation-fill-mode: forwards;
     }
}

/*--main restaurant*--*/

h4{
    margin-left: 20px;
}

.h4-soulignés{
   @include mixin-h4-soulignés;
}
/*--l'animation d'apparition--*/

.main-article{
    @include mixin-main-article;
    animation: apparition 1s linear;
    position: relative;
    height: 65px;

    &:hover{
        .div-check{
            @include mixin-main__check;
            animation: apparition-check 0.7s linear; 
            animation-fill-mode: forwards;
            display: flex;
        }
        .check{
            animation: apparition-rotation 0.7s linear;
            animation-fill-mode: forwards;
        }
        .main__tarif{
            animation: decalage-prix 0.7s linear;
            animation-fill-mode: forwards;
            animation-delay: 100ms;
        }
        .main__h2{
            animation: decalage 0.7s linear;
            animation-fill-mode: forwards;
        }
        .main__p{
            animation: decalage 0.7s linear;
            animation-fill-mode: forwards;
        }
    }
}

/*--main-restaurants--*/

.main-article-2{
animation-delay: 200ms;
}

.main-article-3{
    animation-delay: 400ms;
}

.main__h2{
    @include mixin-main__h2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-infos{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.main__p{
    margin-left: 10px;
    margin-top: 10px;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main__tarif{
    margin-right: 25px;
    margin-top: 5px;
    font-weight: bold;
}

.div-check{
   display: none;
   z-index: auto;
}

/*--le btn commander--*/

.btn-restaurants{
    background-color:$background;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

/*--le footer--*/

.container-footer{
    @include mixin-footer;
    }


    /*--media queries--*/

@media all and (min-width:768px)  {

     .fleche{
        font-size: 2.5em;
    }
    
    h4{
       display: flex;
       justify-content: center;
       font-size: 1.7em;
   }

    h3{
       display: flex;
       justify-content: center;
       font-size: 2.3em;
    }

    .coeur-vide__restaurants{
        font-size:1.5em;
    }

    .coeur-plein__restaurants{
        font-size: 1.5em;
    }


    .main__h2{
        font-size:1.3em ;
    }

    .main__tarif{
        font-size:1.1em ;
    }

    .main-article{
        margin-right: 150px;
        margin-left: 150px;
        height: 90px;
    }

    .main-article{
        &:hover{
            .div-check{
                padding: 37px 15px; 
            }
        }    
    }

    .footer-logo__p{
            display: flex;
            justify-content: center;
     }
     
   .footer-li{
         display: flex;
        justify-content: space-around;
   }
}


@media all and (min-width:1200px)  {

    .fleche{
        font-size: 2.5em;
        margin-top: 4%;
     }
        
    .main-restaurant__div{
        display: flex;
        align-content: flex-start;
    }

    .main-bloc{
        display: inline-block;
        justify-content: space-around;
        vertical-align: top;
        width: 33%;
        margin-top: 0;
    }
    
    h3{
        font-size: 2.6em;
    }

   .main-article{
        margin-right: 15px;
        margin-left: 15px;
        height: 90px;
    }
 }